<!DOCTYPE html>
<html>
<head>
  <title>RailsAuth</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "partials/nav" %>

<%= yield %>

</body>
</html>
